.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}
.titles {
    margin-top: 15px;
    margin-bottom: 0px;
    display: block;
    color: darkblue;
}
.overlayer {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:url('White_transparent.png');
    background: -moz-linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)) repeat-x rgba(255,255,255,0.6);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0.6))) repeat-x rgba(255,255,255,0.6);
    z-index:10000000;
}
.loading {
    position:fixed;
    opacity:1.0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    left:50%;
    top:50%;
    margin:-70px 0 0 -144px;
}